/*
Assignment 2
Written by: Yousef Abdelnour 2242238 
For “Internet Programming” Section 001 – Fall 2023 
*/
/* Style for the header element */
header {
    text-align: center;
    margin-left: -0.52vw;
    margin-right: -0.52vw;
    margin-top: -0.52vw;
    padding: 0.26vw;
    border-bottom: 4px solid black;
    background-color: #B0BEC5;
}

/* Style for the body element */
body {
    background-color: #E0E0E0;
    text-align: center;
}

/* Background color for the hours text input */
#hours {
    background-color: #FC8B00;
}

/* Background color for the result text input */
#result {
    background-color: #B8D0EC;
}

/* Background color for the button */
#compute {
    background-color: lightgrey;
}

/* Background color for the table head */
#tablehead {
    background-color: #FFE599;
}

/* Style for the content of the table */
#radioTable {
    text-align: left;
    padding: 0.52vw;
}

/* General style for tables */
table {
    margin-left: auto;
    margin-right: auto;
}

/* Style for the Salary calculator */
#Calculator {
    clear: both;
    padding: 1%;
}

/* Style for images inside the right content section */
#rightcontent img {
    width: 100%;
}

/* Border change effect on hover event */
#leftcontent:hover,
#middlecontent:hover,
#rightcontent:hover {
    border: 3px solid #C5B8B0;
}

/* Generic styling to ensure the page doesn't mess up */
html {
    position: relative;
    min-height: 100%;
}

/* Style for the footer element */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #B0BEC5;
}

/* General style for anchor (link) elements */
a {
    text-decoration: none;
}

/* Style for anchor elements on hover */
a:hover {
    color: blue;
}

/* Specific style for the left content section */
#leftcontent {
    text-align: center;
    border: 2px solid black;
}

/* Specific style for the right content section */
#rightcontent {
    border: 2px solid black;
}

/* Specific style for the middle content section */
#middlecontent {
    text-align: center;
    border: 2px solid black;
}

/* General style for tables */
table {
    border-collapse: collapse;
}

#table th,
#table

/* Style for table data cells */
td {
    border: 1px solid black;
    text-align: center;
}

@media only screen and (min-width: 901px) {

    /* Specific style for the left content section */
    #leftcontent {
        float: left;
        width: 26%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        margin-top: 5px;
    }

    /* Specific style for the right content section */
    #rightcontent {
        width: 24%;
        float: left;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0.5vh;
    }

    /* Specific style for the middle content section */
    #middlecontent {
        width: 26%;
        float: left;
        margin: 0.5vh;
        padding: 0.52vw;
    }

    /* Style for table data cells */
    #table th,
    #table td {
        padding-left: 2.08vw;
        padding-right: 2.08vw;
    }

    /* Padding for the div */
    div {
        padding: 0.26vw;
    }

    /* Input width to ensure there is enough space */
    #hours {
        width: 4vw;
    }

    /* Bottom Padding to ensure the footer does not cover content */
    #Calculator {
        padding-bottom: 8vh;
    }
}

@media only screen and (max-width: 600px) {

    /* Specific style for the left content section */
    #leftcontent {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        margin-top: 5px;
    }

    /* Specific style for the right content section */
    #rightcontent {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5px;
    }

    /* Specific style for the middle content section */
    #middlecontent {
        margin-top: 5px;
        padding: 0.52vw;
    }

    /* Style for table data cells */
    #table th,
    #table td {
        padding-left: 2.08vw;
        padding-right: 2.08vw;
    }

    /* Padding for the div */
    div {
        padding: 0.26vw;
    }

    /* Input width to ensure there is enough space */
    #hours {
        width: 20vw;
    }

    /* Bottom Padding to ensure the footer does not cover content */
    #Calculator {
        padding-bottom: 13vh;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {

    /* Changes in text font to ensure readability on the specific device size */
    body,
    table,
    label {
        font-size: 20px;
    }

    /* Changes in text font to ensure readability on the specific device size */
    input {
        font-size: 15px;
    }

    /* Changes in the radio button sizes to ensure consistency with text size */
    input[type="radio"] {
        transform: scale(1.3);
    }

    /* Specific style for the left content section */
    #leftcontent {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        margin-top: 5px;
    }

    /* Specific style for the right content section */
    #rightcontent {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5px;
    }

    /* Specific style for the middle content section */
    #middlecontent {
        margin-top: 5px;
        padding: 0.52vw;
    }

    /* Style for table data cells */
    #table th,
    #table td {
        padding-left: 2.08vw;
        padding-right: 2.08vw;
    }

    /* Padding for the div */
    div {
        padding: 0.26vw;
    }

    /* Input width to ensure there is enough space */
    #hours {
        width: 20vw;
    }

    /* Bottom Padding to ensure the footer does not cover content */
    #Calculator {
        padding-bottom: 8vh;
    }
}